*{
 font-family:'Roboto',sans-serif;
}
.start-tata {
    background: #466ab0;
	    height: 55px;
}
.icon {
    margin: 15px 0;
}
.icon1 span a i {
    color: white;
}
.icon1 {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}
.icon2 {
    margin: 6px 0;
}
.icon2 ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: end;
}
.text i {
    color: white;
    font-size: 23px;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.box {
    font-size: 15px;
}
.box p {
    margin-bottom: 0;
    margin-top: 0;
}
.f1 {
    font-weight: 600;
	color:white;
}
.f2{
	color: #b9d2ff;
}
.show-cars-menu a {
    color: black;
    font-weight: 700;
}
.cars-variety {
    background: #181E23;
    color: #fff;
    position: absolute;
    width: 1140px;
    right: -10px;
    display: block;
    opacity: 0;
    height: 0;
    transition: all 0.4s ease;
     margin: 0px 300px;
}
 .show-cars-menu:hover .cars-variety {
    opacity: 1;
    height: auto;
    z-index: 999999;
    margin-top: 20px;
	text-decoration:none;
}
/* ========== */
.head-one {
    margin: 15px 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo {
    width: 100%;
    max-width: 150px;
    object-fit: cover;
}
.menu {
    display: flex;
	margin: 4px 0px;
}
.menu ul {
    display: flex;
    gap: 37px;
}

.menu2 {
    display: flex;
}
.first li {
    list-style: none;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Rubik';
}
.two {
    margin-top: -12px;
    margin-right: 20px;
}
#a1 {
    background-color:  #466ab0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140%;
    height: 130%;
    border-radius: 25px;
	color: white;
}
#a1:hover {
    color: white;
    background-color: #0d392f;
}


/* ----about---- */

.about-image img {
    position: absolute;
    z-index: -1;
    margin-top: 40px;
}
.about-one h2 {
    font-weight: bold;
    font-size: 50px;
	font-family: 'Rubik', sans-serif;
}
.about-one span {
    color: #466ab0;
	font-family: 'Rubik', sans-serif;
}
.about-all {
    padding: 80px 0;
}
.about-two {
    padding: 110px 0;
}
.about-one-two p {
    font-size: 18px;
    padding: 16px 0px;
}
.btn {
    list-style: none;
    border-radius: 30px;
    background-color: #466ab0;
    color: white;
    font-size: 22px;
    width: 70%;
    max-width: 60%;
    font-weight: 600;
}
.about-two-one {
    background: rgb(247,247,247);
    visibility: visible;
    border: 7px solid white;
    padding: 32px;	
}
.about-two-two {
    background: rgb(239, 245, 255);
    visibility: visible;
    border: 7px solid #fff;
    padding: 31px;	
}
.imageone {
    position: absolute;
    padding-left: 230px;
    padding-top: 40px;
}
.imagetwo {
    background-color: black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    /* line-height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagetwo img {
    width: 100%;
    object-fit: cover;
    max-width: 55px ;
}
.imagecontent h5 {
    font-size: 28px;
    margin-bottom: 16px;
    margin-top: 25px;
    font-weight: bold;
    color: black;
}
.imagecontent {
    font-size: 21px;
    color: grey;
}
.video-one {
	background-image: url(img/video-img1.jpg);   
    background-position: center;
    background-size: cover;
    height: 370px;
    display: flex;
    align-items: flex-end;
    position: relative;
    border-radius: 30px;  
	    bottom: 20px;
}
.video-one:hover{
 color:pink;
}
.video-two {
	background-image: url(img/video-img2.jpg);   
    background-position: center;
    background-size: cover;
    height: 370px;
    display: flex;
    align-items: flex-end;
    position: relative;
    border-radius: 30px;  
}
.video-content {
    width: 100%;
    text-align: center;
    position: absolute;
	bottom: 40px;
}
.video-content a {
    z-index: 9;
    font-size: 35px;
    color: #000;
    /* height: 32%; */
    width: 15%;
    bottom: 170px;
    padding: 5px 10px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    background: #fff;
    border-radius: 60%;
    display: inline-block;
    position: absolute;
}
   
.video-content h2 {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;
}
.video-content p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    /* padding: 0px 60px; */
    line-height: 24px;
}
/*-------our cars-------*/
.car-back-image {
    background-image: url(img/carbackimg.jpg);
    padding: 50px 0;
    background-size: cover;
}
.ourcar h2 {
    font-size: 50px;
    font-weight: 600;
	padding: 30px 0px;
}
.ourcar h2 span {
    color: #466ab0;
}
.all-car {
    background-color: white;
	margin-bottom: 30px;
}
.carz {
    text-align: center;
    width: 100%;
}
.carz img {
    width: 100%;
    object-fit: contain;
    height: 190px;
}
.carz2.text-center {
    padding: 20px 0;
    font-size: 20px;
	font-weight: 600;
    color: #898989;
}
.carz2.text-center h4 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

/* -----ev cars----*/
.ev-modal {
    background: #eff5ff;
	padding-bottom: 60px;
}
.evcar h2 {
    font-size: 50px;
    font-weight: 600;
	padding: 30px 0px;
}
.evcar h2 span {
    color: #466ab0;
}
.allev-car {
    background-color: white;
	margin-bottom: 30px;
}
.ev-car img {
    width: 100%;
    object-fit: contain;
    height: 270px;
}
.ev-car.text-center {
    padding: 20px 0;
    font-size: 20px;
	font-weight: 600;
    color: #898989;
}
.ev-car.text-center h4 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
/*request to call*/
.cont {
    padding: 50px 0px;
}
#contacth {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
#contactForm {
    border: 2px solid black;
    padding: 30px 30px;
    border-radius: 20px;
    background: #69696969;
}
.bimg-two img {
    margin-top: 100px;
    position: absolute;
    z-index: -1;
}
.inner-row {
    margin-top: 70px;
}
.sec1 h2 {
    font-size: 50px;
    font-weight: 700;
	font-family: 'Rubik', sans-serif;
}
.sec1 span {
    color: #466ab0;
	font-family: 'Rubik', sans-serif;
}
.sec1 p {
    font-size: 20px;
    line-height: 45px;
    margin-bottom: 35px;
	color: #898989;
}
.sec1 img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

.head1 h3 {
    padding: 18px 85px;
    font-size: 32px;
    background-color: black;
    color: white;
	font-family: 'Rubik', sans-serif;
    font-weight: 700;
	
}
.head2 {
    background-color: whitesmoke;
    padding: 15px 0;
	margin-top: -10px;
}
.form-group {
    padding: 10px 0;
}
.form-fild {
    text-align: center;
    padding-top: 10px;
}
.form-fild input {
    padding: 10px 160px 10px 10px;
	    font-size: 20px;
}
.form-fild textarea {
    width: 86%;
    font-size: 18px;
    padding: 12px 17px;
}
.form-fild2 {
    text-align: center;
    padding-top: 20px;
}
.form-fild2 input {
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: #466ab0;
    color: white;
    padding: 10px 165px;
}
/*--------dropdown----*/

.dropdown a {  
	text-decoration: none;
}

.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    
}
.dropdown:hover .dropdown-menu {
    display: block;
    border: 4px solid #466AB0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.dropdown-menu a:hover {
    color: #466ab0;
	background-color: transparent;
}

/* ---------FOOTER-------- */

.footer-distributed {
    background-color: #181e23;
    padding: 30px 0;
}
.foot li {
    padding: 20px;
    position: relative;
}
.footer-one ul {
    list-style: none;
}
.footer-one a {
    background-color: white;
    border-radius: 50%;
    font-size: 45px;
}
.footer-one img {
    margin-bottom: 25px;
    margin-left: 35px;
}
.footer-one i {
    color: #777;
    font-size: 25px;
    text-align: center;
    width: 18%;
    height: 9%;
}
.footer-one span {
    font-size: 18px;
    color: white;
	 display: inline-block;
}
.footer-two {
    color: white;
    font-size: 14px;
}
.footer-two h3 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 18px;
    margin-top: 8px;
}
.footer-two ul {
    list-style: none;
    padding: 20px 20px;
}
.footer-two li {
    margin: 15px 0px;
}
.footer-three {
    color: white;
    font-size: 20px;
}
.footer-three h3 {
    margin: 6px 0;
    font-weight: 600;
    font-size: 22px;
}
.footer-link {
    margin: 55px 0;
}
.m1 input {
    padding: 15px 5px;
	    border-radius: 12px;
}
.footer-link a {
   
    background-color: white;
    border-radius: 35px;
    font-size: 30px;
    padding: 5px 15px;
}
.footer-link i {
    color: black;
    font-size: 24px;
}
 /* last privacy section  */
.copyright-wrap {
    background: #eff5ff;
    padding: 15px 0;
    color: #181e23;
    font-size: 15px;
}
.pri {
    display: flex;
    justify-content: end;
    gap: 50px;
}
.pri a {
    color: black;
    text-decoration: none;
}
/* email in footer */
.em-form {
    display: flex;
    align-items: center;
    gap: 10px;
}
.em-form input {
    background: #fff;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    padding: 15px 10px;
}
.em-form .send-btn label {
    position: relative;
    border-radius: 5px;
    color: black;
    font-size: 30px;
    padding: 5px 10px;
    cursor: pointer;
    background: white;
}
.sosial-icon {
    display: flex;
    gap: 15px;
}
.sosial-icon span {
    background: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.sosial-icon span a {
    color: black;
    font-size: 24px;
}
/* cars */
.cars-variety {
    background-color: #181E23;
	    color: white;
}
.all {
    margin: 0px 190px;
}
.car-one h4 {
    color: white;
    text-align: center;
    font-weight: 600;
}
.all-one {
    margin: 0 110px;
}
.all-two {
    margin: 0 160px;
	    margin-bottom: 10px;
}

.car-two img {
    width: 100%;
    height: 28%;
    object-fit: contain; 
}
.head1 {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px;
    border-bottom: 1px solid #283037;
}
.car-two h4 {
    text-align: center;
	font-weight: 600;
}


@media screen and (max-width: 777px) {
    header {
      display: none;
    }
  }
  
  
@media screen and (max-width: 450px) {
    .slick-slide {
       max-height: 150px !important;
    }
  }


  /*========== navbar css =============*/

 .nav-item {
    padding-right: 25px;
    font-size: 18px;
	font-weight:700;
}
.nav_button span a:hover {
    color: white;
    background:  black;
	text-decoration:none;
}
  .cus-btn {
    border: 2px solid black;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 28px;
    color: white;
	background-color:#466ab0;
    transition: all 0.4s;
    text-decoration: none;
  }
 
  .navbar-nav {
    list-style: none;
    padding: 0 90px;
}
.nav-link {
    color: black;
}
.nav-link:hover{
  color:blue;
  text-decoration:none;
}
.nav_button {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.dropdown-menu {
  background-color: #fff;
}

.dropdown-menu a {
  color: #000;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}


/* slider */

.slide-inner img {
    object-fit: cover;
    width: 100%;
}
span.arrow-left {
    background: #7F72F3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    bottom: 50%;
    left: -22px;
  }
  span.arrow-right {
    background: #7F72F3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 250px;
    right: -22px;
     /* left: -4px;  */
  }
  .slick-slide{

    max-height: 450px;
  }
  .slider1 ul.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    gap: 10px;
  }
  .slider1 ul.slick-dots li  button {
    display: block;
    /* width: 16px;
    height: 16px; */
    padding: 0;
    border: 3px solid #7F72F3;
    border-radius: 100%;
    background-color: transparent;
    text-indent: -9999px;
  }
  .slider1 ul.slick-dots li.slick-active button {
  background-color:#7F72F3;
    border: 3px solid #7F72F3;
  }